Repository GOSOPT-CDS-TEAM2/frontend, pull requests merged in 2023-05, with the labels that each got.

#4 [Common] 상품 태그 공통 컴포넌트
  src/components/common/ProductTag.tsx
  src/styles/style.d.ts
Labels: 🤍 Common

#8 [Main] 최상단 헤더, NAV바 및 첫번째 섹션 UI 구현
  index.html
  package.json
  src/assets/icon/btn_address.svg
  src/assets/icon/btn_bag.svg
  src/assets/icon/btn_logo.svg
  src/assets/icon/ic_search.svg
  src/assets/icon/index.ts
  src/assets/icon/logo.svg
  src/assets/icon/main_btn_discount.svg
  src/assets/icon/main_btn_main.svg
  src/assets/icon/main_btn_membership.svg
  src/assets/icon/main_btn_premium.svg
  src/assets/icon/sub_btn_awards.svg
  src/assets/icon/sub_btn_gift.svg
  src/assets/icon/sub_btn_giftcard.svg
  src/assets/icon/sub_btn_review.svg
  src/assets/icon/sub_btn_woman.svg
  src/assets/image/ad_spring.svg
  src/assets/image/index.ts
  src/assets/image/main_thumbnail.svg
  src/components/Main/CategoryNav.tsx
  src/components/Main/Header.tsx
  src/components/Main/MenuSection.tsx
  src/components/common/Router.tsx
  src/main.tsx
  src/pages/Home.tsx
  src/pages/Main.tsx
  src/vite-env.d.ts
  yarn.lock
Labels: 🏠 Main

#7 [PremiumPage] 프리미엄 페이지 헤더/상단바/브랜드섹션
  src/assets/icon/btn_back.svg
  src/assets/icon/btn_brand_name_list.svg
  src/assets/icon/btn_primeum_card_like.svg
  src/assets/icon/btn_search.svg
  src/assets/icon/index.ts
  src/assets/image/index.ts
  src/assets/image/꼬달리.svg
  src/assets/image/다비네스.svg
  src/assets/image/달팜.svg
  src/assets/image/더바디샵.svg
  src/components/Main/Header.tsx
  src/components/Premium/Header.tsx
  src/components/Premium/Menu.tsx
  src/components/Premium/PremiumBrand.tsx
  src/components/common/Router.tsx
  src/pages/Home.tsx
  src/pages/PremiumPage.tsx
Labels: ✨ Premium

#14 [Membership] 최상단 헤더, NAV바, 등급, 등급별 혜택 UI 구현
  index.html
  src/assets/icon/btn_close.svg
  src/assets/icon/ic_info.svg
  src/assets/icon/ic_logo.svg
  src/assets/icon/index.ts
  src/assets/image/benefit_baby.svg
  src/assets/image/benefit_black.svg
  src/assets/image/benefit_gold.svg
  src/assets/image/benefit_green.svg
  src/assets/image/benefit_pink.svg
  src/assets/image/grade_bar.svg
  src/assets/image/index.ts
  src/assets/image/speech_bubble.svg
  src/components/Membership/CategoryNav.tsx
  src/components/Membership/CustomerGradeInfo.tsx
  src/components/Membership/GradeBenefitModal.tsx
  src/components/Membership/Header.tsx
  src/components/Membership/ModalPortal.tsx
  src/components/Membership/gradeRange.tsx
  src/components/common/Router.tsx
  src/pages/Membership.tsx
Labels: 🎁 Membership

#17 [PremiumPage] 광고 섹션, 추천상품
  src/assets/image/index.ts
  src/assets/image/더바디샵티트리오일.svg
  src/assets/image/로이비퍼퓸.svg
  src/assets/image/록시땅로즈오드뚜왈렛.svg
  src/assets/image/베스트향광고.svg
  src/assets/image/비오템옴드모이스춰라이저.svg
  src/assets/image/비오템옴드젤로션.svg
  src/assets/image/에스티로더작은광고.svg
  src/assets/image/에스티로더큰광고.svg
  src/assets/image/오리진스앰플크림.svg
  src/assets/image/헤라파우더.svg
  src/components/Premium/Advertise.tsx
  src/components/Premium/data/AD_LIST.tsx
  src/pages/PremiumPage.tsx
Labels: ✨ Premium

#21 [Main] 추천 상품, 카테고리 랭킹 구현
  src/assets/asset.d.ts
  src/assets/icon/btn_bag_rank.svg
  src/assets/icon/btn_heart_rank.svg
  src/assets/icon/btn_heart_rank_fill.svg
  src/assets/icon/ic_arrow.svg
  src/assets/icon/index.ts
  src/assets/image/ad_handcare.svg
  src/assets/image/index.ts
  src/components/Main/CategoryNav.tsx
  src/components/Main/CategoryRank.tsx
  src/components/Main/HorizontalProduct.tsx
  src/components/Main/MenuSection.tsx
  src/components/Main/Recommend.tsx
  src/components/common/Product.tsx
  src/pages/Home.tsx
  src/pages/Main.tsx
Labels: 🏠 Main

#25 [Common] API axios 인스턴스 생성
  package.json
  src/pages/Main.tsx
  src/utils/lib/index.ts
  src/utils/lib/main.ts
  yarn.lock
Labels: 🤍 Common

#19 [Membership] 쿠폰, 멤버십 이벤트
  src/assets/icon/ic_down.svg
  src/assets/icon/index.ts
  src/assets/image/benefit_gold.svg
  src/assets/image/coupon_gray.svg
  src/assets/image/coupon_pink.svg
  src/assets/image/index.ts
  src/assets/image/membership_event_1.svg
  src/assets/image/membership_event_2.svg
  src/assets/image/membership_event_3.svg
  src/components/Membership/ClauseSection.tsx
  src/components/Membership/CouponSection.tsx
  src/components/Membership/CustomerGradeInfo.tsx
  src/components/Membership/EventSection.tsx
  src/components/Membership/GradeBenefitModal.tsx
  src/components/Membership/Header.tsx
  src/components/Membership/data/CLAUSE_LIST.tsx
  src/components/Membership/data/COUPON_LIST.tsx
  src/components/Membership/data/EVENT_LIST.tsx
  src/components/Membership/data/GRADE_LIST.tsx
  src/components/common/Product.tsx
  src/pages/Membership.tsx
Labels: 🎁 Membership

#23 [PremiumPage] 신상품, 인기상품 컴포넌트 & 리스트
  src/assets/image/index.ts
  src/components/Premium/Advertise.tsx
  src/components/Premium/BrandIntroduction.tsx
  src/components/Premium/NewPopularList.tsx
  src/components/Premium/NewPopularProduct.tsx
  src/components/common/Product.tsx
  src/pages/PremiumPage.tsx
Labels: ✨ Premium

#28 [Main] 주간 스페셜, 인기 행사, 체중관리 상품 섹션 구현
  src/assets/image/.png
  src/assets/image/ad_hot_event.png
  src/assets/image/index.ts
  src/assets/image/더마토리하이포알러제닉페미닌워시.svg
  src/assets/image/더마토리하이포페미닌버블폼.svg
  src/assets/image/딥트3일올케어.png
  src/assets/image/마이멜로디파우치.png
  src/assets/image/믿고보는구매후기.png
  src/assets/image/바이탈뷰티메타그린.png
  src/assets/image/봄맞이특가.png
  src/assets/image/비원츠베스트셀러2종.png
  src/assets/image/올라이브기프트카드.png
  src/assets/image/올리브영데이.png
  src/assets/image/콜레올로지추가증정.png
  src/assets/image/콜레올로지컷팅젤리.png
  src/assets/image/트러블케어1위.png
  src/components/Main/HotEvent.tsx
  src/components/Main/Recommend.tsx
  src/components/Main/WeeklySpecial.tsx
  src/components/Main/WeightManagement.tsx
  src/components/Main/WeightProduct.tsx
  src/components/Main/constant/WeightProductData.ts
  src/components/common/Product.tsx
  src/pages/Main.tsx
  src/types/main.ts
Labels: 🏠 Main

#32 [Common] 푸터 구현
  src/assets/icon/btn_category.svg
  src/assets/icon/btn_history.svg
  src/assets/icon/btn_home.svg
  src/assets/icon/btn_my.svg
  src/assets/icon/btn_new_magazine.svg
  src/assets/icon/ic_bar.svg
  src/assets/icon/ic_blackarrow.svg
  src/assets/icon/ic_call.svg
  src/assets/icon/ic_channel.svg
  src/assets/icon/ic_circlearrow.svg
  src/assets/icon/ic_facebook.svg
  src/assets/icon/ic_insta.svg
  src/assets/icon/ic_youtube.svg
  src/assets/icon/index.ts
  src/assets/image/index.ts
  src/assets/image/꼬달리Img.svg
  src/assets/image/다비네스Img.svg
  src/assets/image/달팜Img.svg
  src/assets/image/더바디샵Img.svg
  src/assets/image/바비브라운Img.svg
  src/assets/image/숨Img.svg
  src/assets/image/헤라Img.svg
  src/components/Premium/BrandIntroduction.tsx
  src/components/Premium/PremiumBrand.tsx
  src/components/common/Footer.tsx
  src/components/common/MenuBar.tsx
  src/components/common/Router.tsx
  src/pages/PremiumPage.tsx
Labels: 🤍 Common

#33 [Main] Healthy Life, 오늘의 특가 구현
  src/assets/icon/ic_alarm.svg
  src/assets/icon/index.ts
  src/assets/image/digital_time.svg
  src/assets/image/index.ts
  src/assets/image/깨가솟아지는방앗간.png
  src/assets/image/라운드랩자작나무.png
  src/assets/image/심드렁쿠키바.png
  src/assets/image/안트래디언스앰플.png
  src/components/Main/HealthyLife.tsx
  src/components/Main/SpecialPrice.tsx
  src/components/Main/WeightManagement.tsx
  src/components/Main/constants/SpecialProductData.ts
  src/components/Main/constants/WeightProductData.ts
  src/components/common/MenuBar.tsx
  src/pages/Main.tsx
Labels: 🏠 Main

#30 [Cart] 헤더, NAV바, 올리브영 배송 선택창 구현
  src/assets/icon/ic_check_big_checked.svg
  src/assets/icon/ic_check_big_not_checked.svg
  src/assets/icon/index.ts
  src/assets/icon/shopping_cart.svg
  src/components/cart/CategoryNav.tsx
  src/components/cart/DeliveryCheck.tsx
  src/components/cart/Header.tsx
  src/components/common/Router.tsx
  src/pages/Cart.tsx
  src/types/cart.ts
  src/utils/lib/cart.ts
Labels: 🛒 Cart

#34 [Main] 추천 상품, 카테고리 랭킹 API 연결
  src/components/Main/CategoryRank.tsx
  src/components/Main/Header.tsx
  src/components/Main/MenuSection.tsx
  src/components/Main/Recommend.tsx
  src/components/Main/SpecialPrice.tsx
  src/components/Main/constants/BODYCARE_TAG_LIST.ts
  src/components/Main/constants/FOOD_TAG_LIST.ts
  src/components/Main/constants/PERFUME_TAG_LIST.ts
  src/components/Main/constants/TAG_LIST.ts
  src/pages/Cart.tsx
  src/pages/Main.tsx
  src/types/common.ts
  src/types/main.ts
  src/utils/lib/main.ts
Labels: 🏠 Main

#37 [PremiumPage] 브랜드 API 연결 & 정렬 & 좋아요 삭제 및 취소 & 스크롤
  src/assets/icon/btn_brand_sort.svg
  src/assets/icon/btn_brand_sort_reverse.svg
  src/assets/icon/btn_primeum_card_like_fill.svg
  src/assets/icon/index.ts
  src/components/Premium/Header.tsx
  src/components/Premium/Menu.tsx
  src/components/Premium/PremiumBrand.tsx
  src/components/Premium/PremiumBrandCard.tsx
  src/components/common/Footer.tsx
  src/components/common/MenuBar.tsx
  src/pages/PremiumPage.tsx
  src/types/brand.ts
  src/utils/lib/brand.ts
Labels: ✨ Premium

#35 [Cart] 장바구니 상품 목록, 결제 금액, 수량 변경
  package.json
  src/App.tsx
  src/assets/icon/ic_check_checked.svg
  src/assets/icon/ic_check_not_checked.svg
  src/assets/icon/ic_minus.svg
  src/assets/icon/ic_plus.svg
  src/assets/icon/index.ts
  src/components/cart/CartProduct.tsx
  src/components/cart/CartProductList.tsx
  src/components/cart/CategoryNav.tsx
  src/components/cart/Header.tsx
  src/components/common/Router.tsx
  src/pages/Cart.tsx
  src/states/cart.tsx
  src/types/cart.ts
  src/utils/lib/cart.ts
  yarn.lock
Labels: 🛒 Cart

#40 [Cart] 추천 상품
  README.md
  src/App.tsx
  src/assets/image/index.ts
  src/assets/image/세노비스.png
  src/assets/image/히말라야숙취해소.png
  src/components/Membership/CustomerGradeInfo.tsx
  src/components/Membership/Header.tsx
  src/components/cart/CartProduct.tsx
  src/components/cart/DeliveryCheck.tsx
  src/components/cart/PaymentDetail.tsx
  src/components/cart/Recommend.tsx
  src/components/cart/constants/RecommendProductData.ts
  src/components/common/Product.tsx
  src/pages/Cart.tsx
  src/pages/Membership.tsx
  src/states/cart.tsx
  src/types/common.ts
Labels: 🛒 Cart

#43 [Fix] 신상품, 인기상품 배포오류
  src/components/premium/NewPopularProduct.tsx
  src/components/premium/PremiumBrand.tsx
Labels: Fix🛠
